*{
	text-decoration: none;
	margin: 0px;
	padding:0px; 
}

body {
	margin:0px;
	padding: 0px;
  font-family:comic sans ms ;
}

.wrapper{
	width:1000px;
	margin:auto;
	position: relative;


}
.logo a {
	font-size: 50px;
	font-weight: 800;
	float:right 
	font-family: courier;
	color: #143F6B;

}
.menu {
	float :right ;
}

nav {
	width:100%;
	margin:auto;
	display: flex;
	line-height: 80px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background:#ffffff;
	z-index:1;
	border-bottom:1px solid #143F6B;

}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

}
nav ul li{
	float :left;

}
nav ul li a{
	color: black;
	font-weight: bold;
	text-align: center;
	padding:0px 16px 0px 16px;
	text-decoration: none;

}nav ul li a:hover {
	text-decoration: underline;

}

section{
	margin:auto;
	display: flex;
	margin-bottom: 50px;

}
.kolom{
	margin-top: 50px;
	margin-bottom: 50px;

}
.kolom.deskripsi{
	font-size:20px;
	font-weight:"comic sans ms";
	color: #143F6B;
}
h2{
	font-weight: "comic sans ms";
	font font-weight: 800;
	font-size: 45px;
	margin-bottom: 20px;
	color:#143F6B;
	width:100%;
	line-height: 50px;



}
a.tbl-biru{
	background:#035397;
	border-radius: 20px;
	margin-top: 20px;
	padding:15px 20px 15px 20px;
	color:white;
	cursor: pointer;
	font-weight: bold;
}
a.tbl-biru:hover{
	background:#FF6FB5;
	text-decoration: none;
}
a.tbl-pink{
	background:#FF6FB5;
	border-radius: 20px;
	margin-top: 20px;
	padding:15px 20px 15px 20px;
	color:white;
	cursor: pointer;
	font-weight: bold;
}
a.tbl-pink:hover{
	background:#5534A5;
	text-decoration: none;

}
p{
	margin: 10px;
	padding:10px 0px 10px 0px;
	padding: 10px 0px 10px 0px;

}
.tengah {
	text-align: center;
	width: 100%;

}
tutor-list {
	width:100px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.kartu-tutor{
	width: 20%;
	margin:0 auto;
}
.kartu-tutor img{
	width:80%;
	border-radius: 50%;

}
.kartu-tutor p{
	font-family: "comic sans ms";
	font font-weight: 800;
	font-size:225px;
	text-align: center;
	color: #FF6FB5;
}
.tutor-list{
	width: 100%;
	position:relative;
	display: flex;
	flex-wrap:wrap; 
}
.kartu-tutor{
	width: 20%;
	margin:0 auto;

}
.kartu-tutor img{
	width:80%;
   border-radius:50%;

}
.kartu-tutor p{
	font-family: "comic sans ms";
	font-weight: 800;
	font-size:25px;
	text-align: center;
	color:#143F6B;


}
